@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Reset some default styles */
html {
    font-size: 16px;
  }

* {
    box-sizing: border-box;
}



/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #020617;
    color: #cbd5e1;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background-image: linear-gradient(
        130deg,
        hsl(261deg 65% 50%) 0%,
        hsl(260deg 62% 45%) 0%,
        hsl(259deg 59% 40%) 1%,
        hsl(258deg 55% 35%) 4%,
        hsl(256deg 51% 30%) 7%,
        hsl(253deg 46% 25%) 11%,
        hsl(248deg 40% 20%) 15%,
        hsl(236deg 33% 15%) 21%,
        hsl(222deg 36% 11%) 27%,
        hsl(222deg 36% 11%) 33%,
        hsl(222deg 36% 11%) 40%,
        hsl(222deg 36% 11%) 47%,
        hsl(222deg 36% 11%) 55%,
        hsl(222deg 36% 11%) 62%,
        hsl(222deg 36% 11%) 69%,
        hsl(222deg 36% 11%) 75%,
        hsl(236deg 33% 15%) 81%,
        hsl(248deg 40% 20%) 86%,
        hsl(253deg 46% 25%) 91%,
        hsl(256deg 51% 30%) 95%,
        hsl(258deg 55% 35%) 97%,
        hsl(259deg 59% 40%) 99%,
        hsl(260deg 62% 45%) 100%,
        hsl(261deg 65% 50%) 100%
      );    padding: 4rem;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.formContainer{
  
    border: solid 2px #4d5562;
    background: #212936;
    width: 35%;
    border-radius: 15px;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
}

.myForm1{
    display: block;
}

/*Labels , Inputs , buttons */

.titleStyle{
    font-size: 1.4rem;
    margin:0% 0% 5% 0%;
}
.Label-color-tamaño{   
   
    font-size: 11px;
    color:#a1a1a9 ;
}

.InputStyles{

    border: 2px solid #4d5563;
    border-radius: 7.5px;
    font-size: 11px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box; 
    outline: none; 
    padding: 10px; 
    color: #a1a1a9;
    height: 42.5px; 
    transition: 0.2s;
}

/* validacion  */

.validationMessage{
    color: red;
    font-size: 0.5rem;
    margin: 1% 0% 2% 5%;
}

/* Estilos de hover */
.InputStyles:hover {
    border-color: #7544de; /* Cambia el color del borde al pasar el ratón */
}

/* Estilos de focus (click) */
.InputStyles:focus {
    border-color: #7544de; /* Cambia el color del borde al hacer clic */
    box-shadow: 0 0 0 1.5px #7544de; /* Agrega una sombra alrededor del input al hacer clic */
}




.ButtonStyles{
    /* background-color: #7544de;  */
    background-color: rgba(132, 94, 238);
    border: none; 
    border-radius: 30px; 
    color: white; 
    padding: 3%;
    width: 40%;
    height: 40px;
    cursor: pointer; 
    display: block;
    margin: 0 auto; 
    margin-top: 5%;
    transition: background-color 0.3s;
}

/* Estilos cuando el cursor pasa sobre el botón */
.ButtonStyles:hover {
    background-color: #5a2d9f; /* Cambia el color de fondo al pasar el cursor */
    
}

/* Estilos cuando se hace clic en el botón */
.ButtonStyles:active {
    background-color: #45249a; /* Un tono más claro del color de fondo */
    font-size: 0.8rem;
}

/* Caja del paso a paso*/

.StepsBox{
    width: 15%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 11px;
    color: #a1a1a9;
}

#stepText{
    margin-right: 5%;
    color: #212936;
}
.stepDot {
    font-size: 24px; 
    text-align: center;
    width: 10%;
    margin: 0 5px; 
}

.pointActive {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #753ee4; /* Color del punto */
    border: 5px solid #332d62; /* Borde que simula selección */
    display: inline-block;
    
   }

.point-next-step{
    color: #753ee4;
}

/* Form 2*/

.myForm2{
    display: none;
}

.checkboxStyles{
   display: none;
}

.checkboxStyles + .labelCheckStyles{
    display: inline-block;
    margin: 2%;
    padding: 2% 5%;
    border: 2px solid #4d5563;
    width: 98%;
    height: 5vh;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: 500;
    background: #394050;
    color: #999aa3;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.checkboxStyles:hover + .labelCheckStyles {
    background: #5230aa; /* Cambia el fondo al pasar el cursor */
    color: #f0f2f7;
    border: none;
    padding: 2.5% 5%;
}

.checkboxStyles:checked + .labelCheckStyles {
    background: #652cd1;
    color: #e5e7eb;
}

.checkboxStyles + .labelCheckStyles:active {
    background: #45249a; /* Un tono más claro del color de fondo */
    color: #f0f2f7; /* Cambia el color del texto */
}

/*Summary*/

.summary{
    display: none;
    font-weight: 550;
}

.summary div span,
.summary .summaryTopics {
    color: #ffffff;
    font-size: 1.06rem;
}

/* success message  */

.success-message {
    display: none; /* Inicialmente oculto */
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 5px;
}

.show {
    display: block;
}



/* Estilos para el autocompletado mantenga los estilos asignados */
.InputStyles:-webkit-autofill,
.InputStyles:-webkit-autofill:hover {
    -webkit-text-fill-color: #a1a1a9; /* Color del texto */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset; /* Desactivar el resaltado de fondo */
    transition: background-color 5000s ease-in-out 0s; /* Transición para evitar que se anulen los estilos */
}



@media screen and (min-width: 720px) {
    .logo {
        display: initial;
    }

    .get-started {
        width: auto;
    }

    main {
        flex-direction: row;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

  }